body {
    margin: 0;
    font-family: sans-serif;
    background: #e5e5e5;
}

/* Container */
.container {
    display: grid;
    grid-template-columns: 14rem auto;
}

/* Sidebar */
aside {
    height: 100vh;
    background: white;
    padding: 1.5rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 0 25px 25px 0;
}

aside .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    padding: .8rem;
    border-radius: 10px;
    color: #444;
    gap: .8rem;
    margin: .3rem 0;
    text-decoration: none;
    transition: .3s;
}

aside .sidebar a.active,
aside .sidebar a:hover {
    background: #efefef;
}

/* Main */
main {
    padding: 2rem;
}

main h1 {
    margin: 0;
    font-size: 2rem;
}

.role {
    color: gray;
}

/* Cards */
.insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
    margin-top: 2rem;
}

.insights > div {
    background: white;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.insights .icon {
    font-size: 2rem;
    color: #5858ff;
}

/* Table */
.recent-orders table {
    width: 100%;
    margin-top: 1rem;
    background: white;
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.recent-orders th, .recent-orders td {
    padding: .7rem;
    text-align: center;
}

/* Alerts */
.alert-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: .8rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}
